*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html{
	font-family: sans-serif;
	font-size: 16px;
	min-height: 100vh;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

header{
	color: white;
	font-size: 35px;
	background-color: #27c4f3;
	padding: 2rem;
}
nav{
	background-color:orange;
	text-align: center;
	display: flex;
	justify-content: center;
}

nav ul{
	display: flex;
}
nav li{
	padding: .8rem 2rem;
}
nav li:hover{
	background-color: red;
}
main{
	flex-grow:1; 
	padding: .5rem;
}
main .row{

	width: 50%;
}
main article{
	background-color: #e1dede;
	box-shadow: 0 5px 12px rgba(0 0 0 / .2);
	padding: 1rem;
}
main:hover article{
	background-color: #f3d4d4;
	box-shadow: 0 3px 12px rgba(0 0 0 / .3);
}
footer{
	color: white;
	background-color: #b7b102;
	display: flex;
	justify-content: center;
	padding: 2rem;
}