*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html{
	font-family: sans-serif;
	font-size: 16px;
	min-height: 100vh;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

header{
	color: white;
	font-size: 35px;
	background-color: #27c4f3;
	padding: 2rem;
}
nav{
	background-color:orange;
	text-align: center;
	display: flex;
	justify-content: center;
}

nav ul{
	display: flex;
}
nav li{
	padding: .8rem 2rem;
}